body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
     background-color: #FFFFCC !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.completed {
  text-decoration: line-through;
}


h3 {
  text-align: left;
}

.center-elements {
  width: 200px;
  height: 300px;
   margin: 0 auto;
}

.left-btn { float: left; }
.right-btn { float: right; }

.rowC{display:flex; flex-direction:row;}

